* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation bar */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* background image - header */

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img {
    width: 100%;
    padding: 50px 0;
}
.col2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}
.col2 p {
    color: black;
    font-weight: 500;
    margin-bottom: 30px;
}
/* button */
.button {
    display: inline-block;
    border: 1px solid black;
    padding: 8px 9px 8px 9px;
    border-radius: 25px;
    background: red;
    color: white;
    font-weight: 500;
    border-color: aqua;
    transition: 0.5s ease;
}
.button:hover {
    background: purple;
}
.header {
    background: papayawhip;
}
.header .row {
    margin-top: 70px;
}
/* categories */

.categories {
    margin: 50px 0;
}
.col3 {
    flex-basis: 30%;
    min-width: 200px;
}
.col3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* featured products */

.col4 {
    flex-basis: 25%;
    min-width: 200px;
    padding: 20px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}
.col4:hover {
    transform: translateY(-7px);
}
.col4 img {
    width: 100%;
}
.col4 h4 {
    color: rebeccapurple;
    margin-bottom: 10px;
}
.col4 p {
    color: black;
    font-weight: 700;
}
/* title */

.heading {
    text-align: center;
    margin-bottom: 40px;
    color: red;
    font-weight: 600;
    font-style: italic;
    position: relative;
    line-height: 45px;
}
.heading::after {
    content: '';
    width: 80px;
    height: 5px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating {




}
/* offer */
.offer {
    background: pink;
    padding: 30px 0;
    margin-top: 50px;
}
.col2 .offer-img {
    padding: 50px;
}
/* testimonial */

.testimonial {
    padding: 70px;
}
.testimonial .col3 {
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding: 40px 20px;
    transition: 0.5s ease;
}
.testimonial .col3:hover {
    transform: translateY(-5px);
}
.testimonial .col3 img {
    width: 50%;
    border-radius: 50%;
    margin: 40px 0;
}
.testimonial .col3 h3 {
    color: red;
    font-weight: 600;
    font-size: 16px;
}
.col3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
/* brands */
.brands {
    margin: 100px auto;
}
.col5 {
    width: 160px;
}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col5 img:hover {
    filter: grayscale(0);
}

/* footer */

.footer {
    background: black;
    color: #777;
    font-size: 16px;
    padding: 60px 0 20px;
}
.footer p {
    color: white;
}
.footer h3 {
    color:brown;
    margin-bottom: 20px;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1 {
    flex-basis: 30%;
}
.footer-col2 {
    flex: 1;
    text-align: center;
}
.footer-col2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3, .footer-col4 {
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
.footer hr {
    height: 1px;
    border: none;
    background: red;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
.menue-icon {
    width: 28px;
}


/*----- Products page code ------ */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
select {
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.6s ease;
}
.page-btn span:hover {
    background: papayawhip;
}


/*------ product-details-----*/

.single-product {
    margin-top: 70px;
}
.single-product .col2 img{
    padding: 0;
}
.single-product .col2 {
    padding: 20px;
}
.single-product h4 {
    font-weight: bold;
    margin: 20px 0;
    font-size: 22px;
}
.single-product select {
    display: block;
    margin: 20px 0;
    padding: 10px;
}
.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid red;
}
input:focus {
    outline: none;
}
/* ---- product heading icon ---- 
.single-product icon {



}
*/
.small-img {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.rel {
    font-size: 20px;
    color: red;
    font-weight: 400;
    margin: 50px;
}
.para {
    color: #777;
    font-weight: 500;
}



